.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

cache/
artifacts/*
!artifacts/contracts/
!artifacts/build-info/
contractsInfo.json

coverage*

node_modules/

yarn.error.log
